<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-field">
      <label for="username">User Name</label>
      <input id="username" type="text" formControlName="username">
      <div class="error" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
        User Name is required
      </div>
    </div>

    <div class="form-field">
      <label for="fullName">Full Name</label>
      <input id="fullName" type="text" formControlName="fullName">
      <div class="error" *ngIf="registerForm.get('fullName')?.hasError('required') && registerForm.get('fullName')?.touched">
        Full Name is required
      </div>
    </div>

    <div class="form-field">
      <label for="age">Financial Age</label>
      <input id="age" type="number" formControlName="age">
      <div class="error" *ngIf="registerForm.get('age')?.hasError('required') && registerForm.get('age')?.touched">
        Age is required
      </div>
    </div>

    <div class="form-field">
      <label for="dni">DNI</label>
      <input id="dni" type="text" formControlName="dni">
      <div class="error" *ngIf="registerForm.get('dni')?.hasError('required') && registerForm.get('dni')?.touched">
        DNI is required
      </div>
    </div>

    <div class="form-field">
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber">
      <div class="error" *ngIf="registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched">
        Phone Number is required
      </div>
    </div>

    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <div class="error" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        Email is required
      </div>
      <div class="error" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        Invalid email format
      </div>
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div class="error" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
        Password is required
      </div>
    </div>

    <button type="submit">Register</button>
  </form>
</div>
