<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Module Management: {{ moduleDetails?.moduleName }}</h1>
  </header>

  <div class="dashboard-content">
    <section class="module-details" *ngIf="moduleDetails">
      <h2>Module Details</h2>
      <p><strong>Name:</strong> {{ moduleDetails.moduleName }}</p>
      <p><strong>Type:</strong> {{ moduleDetails.moduleType }}</p>
    </section>

    <section class="invoice-management">
      <h2>Invoice Management</h2>
      <form [formGroup]="invoiceForm" (ngSubmit)="createInvoice()">
        <input formControlName="code" placeholder="Invoice Code" required>
        <div *ngIf="invoiceForm.get('code')?.invalid && invoiceForm.get('code')?.touched" class="error-message">
          Código de factura es requerido
        </div>
        <input formControlName="issueDate" type="date" placeholder="Issue Date" required>
        <input formControlName="dueDate" type="date" placeholder="Due Date">
        <input formControlName="description" placeholder="Description" required>
        <input formControlName="quantity" type="number" placeholder="Quantity" required>
        <input formControlName="unitPrice" type="number" placeholder="Unit Price" required>
        <select formControlName="status" required>
          <option value="OPEN">Open</option>
          <option value="PAID">Paid</option>
          <option value="OVERDUE">Overdue</option>
          <option value="CANCELLED">Cancelled</option>
        </select>
        <select formControlName="currency" required>
          <option *ngFor="let currency of currencies" [value]="currency.code">
            {{ currency.code }} - {{ currency.name }}
          </option>
        </select>
        <input formControlName="exchangeRate" type="number" placeholder="Exchange Rate" [disabled]="invoiceForm.get('currency')?.value === 'USD'">
        <input formControlName="tcea" type="number" placeholder="TCEA">
        <select formControlName="bank" (change)="onBankChange($event)">
          <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
          <option value="new">Create a new bank</option>
        </select>

        <button type="submit" [disabled]="!invoiceForm.valid">Create Invoice</button>
      </form>
      <div *ngIf="showBankModal" class="modal-overlay">
        <div class="modal-content">
          <h3>Create a New Bank</h3>
          <form [formGroup]="bankForm" (ngSubmit)="submitBankForm()">
            <input formControlName="name" placeholder="Bank Name" required>
            <input formControlName="accountNumber" placeholder="Account Number" >
            <input formControlName="iban" placeholder="IBAN" >
            <input formControlName="swift" placeholder="SWIFT" >
            <input formControlName="accountHolderName" placeholder="Account Holder Name" >
            <input formControlName="accountType" placeholder="Account Type" >
            <input formControlName="bankAddress" placeholder="Bank Address" >
            <input formControlName="paymentReference" placeholder="Payment Reference" >
            <input formControlName="TCEApreferredRate" placeholder="TCEA preference" >

            <button type="submit" [disabled]="!bankForm.valid">Save Bank</button>
            <button type="button" (click)="closeBankModal()">Cancel</button>
          </form>
        </div>
      </div>

      <table class="invoice-table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Payment</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Currency</th>
            <th>Exchange Rate</th>
            <th>TCEA</th>
            <th>Bank</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices | slice:(currentPage-1)*pageSize:currentPage*pageSize">
            <td>{{ invoice.code }}</td>
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.quantity }}</td>
            <td>{{ invoice.unitPrice | currency:invoice.currency }}</td>
            <td>{{ invoice.totalPayment | currency:invoice.currency }}</td>
            <td>{{ invoice.issueDate | date }}</td>
            <td>{{ invoice.dueDate | date }}</td>
            <td>{{ invoice.status }}</td>
            <td>{{ invoice.currency }}</td>
            <td>{{ displayExchangeRate(invoice) }}</td>
            <td>{{ ((invoice.tcea ?? 0) * 100)  }}%</td>
            <td>{{ getBankName(invoice.bankId) }}</td>
            <td class="action-buttons">
              <select (change)="updateInvoiceStatus(invoice?.id, $event)">
                <option value="">Update Status</option>
                <option value="Pending">Pending</option>
                <option value="Paid">Paid</option>
                <option value="Overdue">Overdue</option>
                <option value="Cancelled">Cancelled</option>
              </select>
              <button class="delete-btn" (click)="deleteInvoice(invoice?.id)">Delete</button>
              <button class="pdf-btn" (click)="emitPDF(invoice?.id)">PDF</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <button (click)="exportToExcel()">Exportar a Excel</button>
              <button (click)="exportToJson()">Exportar a JSON</button>
            </td>
          </tr>
        </tfoot>
      </table>
      <!-- Add pagination controls -->
    </section>

    <section class="module-functionality">
      <h2>Available Functionalities</h2>
      <div class="module-list">
        <div *ngFor="let module of modules" [ngClass]="{ 'not-ready': module.notReady }" class="module-card">
          <h3>{{ module.title }}</h3>
          <p>{{ module.content }}</p>
          <button (click)="openModule(module.type)">Abrir SubMódulo</button>
        </div>
        <div class="module-card">
          <h3>Cartera Financiera</h3>
          <p>Accede a tu cartera financiera para una gestión completa.</p>
          <button (click)="navigateToFinancialHelper()">Ir a Cartera Financiera</button>
        </div>
        <div class="module-card">
          <h3>Cartera Financiera De Bancos</h3>
          <p>Accede a tu cartera financiera para una gestión completa siendo tú el cliente</p>
          <button (click)="navigateToFinancialHelperBank()">Ir a Cartera Financiera de Bancos</button>
        </div>
        <div class="module-card">
          <h3>Tutorial</h3>
          <p>Aprende a usar todas las funcionalidades del módulo.</p>
          <button (click)="startTutorial()">Iniciar Tutorial</button>
        </div>

      </div>
    </section>

    <section class="import-invoices">
      <h2>Importar Facturas de Otros Módulos</h2>
      <select (change)="onModuleSelect($event)">
        <option value="">Seleccionar un módulo</option>
        <option *ngFor="let module of otherModules" [value]="module.id" [disabled]="module.id === moduleId || module.moduleType === 'admin'">
          {{ module.moduleName }}
        </option>
      </select>

      <table *ngIf="importedInvoices.length > 0" class="invoice-table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Pago Total</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of importedInvoices">
            <td>{{ invoice.code }}</td>
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.totalPayment | currency:invoice.currency }}</td>
            <td>{{ invoice.status }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <button (click)="exportImportedToExcel()">Exportar a Excel</button>
              <button (click)="exportImportedToJson()">Exportar a JSON</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>

  <ng-template #moduleContainer></ng-template>
</div>
