<div class="account-container">
  <!-- User data -->
  <div *ngIf="user$ | async as user">
    <h2>Account Information</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Full Name:</strong> {{ user.fullName }}</p>
    <p><strong>Secure code:</strong> {{ user.age }}</p>
    <p><strong>ID Number:</strong> {{ user.dni }}</p>
    <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
  </div>

  <div class="invitations-dashboard">
    <h3>Invitations</h3>

    <div class="invitations-section">
      <h4>Pending Invitations</h4>
      <table>
        <thead>
        <tr>
          <th>Email</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invitation of pendingInvitations">
          <td>{{ invitation.email }}</td>
          <td>{{ invitation.status }}</td>
          <td>
            <button (click)="acceptInvitation(invitation.id)">Accept</button>
            <button (click)="denyInvitation(invitation.id)">Deny</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="invitations-section">
      <h4>Sent Invitations</h4>
      <table>
        <thead>
        <tr>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invitation of sentInvitations">
          <td>{{ invitation.email }}</td>
          <td>{{ invitation.status }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- LocalStorage table -->
  <div class="localStorage-table">
    <h3>LocalStorage Values</h3>
    <table>
      <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of getLocalStorageKeys()">
        <td>{{ key }}</td>
        <td class="long-text" [title]="getLocalStorageItem(key)">
          <ng-container *ngIf="key === 'jwt_token'">
            ....................................
          </ng-container>
          <ng-container *ngIf="key !== 'jwt_token'">
            {{ getLocalStorageItem(key) }}
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
