<div class="dashboard-container">
  <div class="tabs">
    <button
      [class.active]="activeTab === 'create'"
      (click)="setActiveTab('create')">
      Create Permission Type
    </button>
    <button
      [class.active]="activeTab === 'assign'"
      (click)="setActiveTab('assign')">
      Assign Permissions
    </button>
    <button
      [class.active]="activeTab === 'view'"
      (click)="setActiveTab('view')">
      View Permissions Type
    </button>
  </div>

  <div class="tab-content">
    <div *ngIf="activeTab === 'create'" class="card">
      <h2>Create New Permission Type</h2>
      <form [formGroup]="permissionForm" (ngSubmit)="createPermissionType()">
        <div class="form-group">
          <label for="name">Permission Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Enter permission name">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            placeholder="Enter description">
          </textarea>
        </div>

        <div class="form-group">
          <label>Allowed Actions</label>
          <div class="checkbox-group">
            <div *ngFor="let action of allowedActions; let i=index" class="checkbox-item">
              <input
                type="checkbox"
                [id]="action.label"
                [checked]="selectedActions[i]"
                (change)="onCheckboxChange(i)">
              <label [for]="action.label">{{action.label}}</label>
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!permissionForm.valid"
          class="btn-primary">
          Create Permission Type
        </button>
      </form>
    </div>

    <div *ngIf="activeTab === 'assign'" class="card">
      <h2>Assign Permissions to Users</h2>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Join Date</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employeesWithDetails">
            <td>{{employee.fullName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.joinDate | date:'shortDate'}}</td>
            <td class="buttons">
              <button class="btn-secondary" (click)="viewUserPermissions(employee.id)">View Permissions</button>
              <button class="btn-primary" (click)="prepareAssignPermissions(employee.id)">Assign Permission</button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="permissionsWithDetails && permissionsWithDetails.length > 0">
        <h3>User Permissions</h3>
        <div *ngFor="let permission of permissionsWithDetails">
          <div class="permission-card">
            <h4>Module: {{ permission.module?.name }}</h4>
            <p class="module-details"><strong>Module Creation Date:</strong> {{ permission.module?.creationDate | date:'shortDate' }}</p> <!-- Muestra la fecha de creación -->
            <p class="module-details"><strong>Module Type:</strong> {{ permission.module?.type }}</p> <!-- Muestra la descripción del módulo (type) -->


            <h5>Permission Type:</h5>
            <p><strong>Name:</strong> {{ permission.permissionTypeName }}</p>
            <p><strong>Description:</strong> {{ permission.permissionTypeDescription }}</p>

            <h5>Granted:</h5>
            <p>{{ permission.isGranted }}</p>
          </div>
          <hr>
        </div>

        <button (click)="closeUserPermissions()">Close</button>
      </div>

      <div *ngIf="selectedUserPermissions" class="assign-permission-container card">
        <h2>Assign Permissions to {{ selectedUserPermissions.fullName }}</h2>

        <div class="form-group">
          <label for="modules">Select Module:</label>
          <select id="modules" [(ngModel)]="selectedModuleId" class="form-control">
            <option *ngFor="let module of modules" [value]="module.id">{{ module.moduleName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="permissionTypes">Select Permission Types:</label>
          <select id="permissionTypes" [(ngModel)]="selectedPermissionTypeId" class="form-control">
            <option *ngFor="let permissionType of permissionTypes" [value]="permissionType.id">
              {{permissionType.name}} - {{permissionType.description || 'No description'}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="allowedActions">Select Allowed Action:</label>
          <p>This field is for verification only. Please select one of the permissions that are part of the selected permission type.</p>
          <select id="allowedActions" [(ngModel)]="selectedAllowedAction" class="form-control">
            <option *ngFor="let action of allowedActions" [value]="action.value">
              {{ action.label }}
            </option>
          </select>
        </div>

        <div class="actions">
          <button class="btn btn-primary" (click)="assignPermissions()">Assign Permissions</button>
        </div>

        <div *ngIf="assignSuccessMessage" class="alert alert-success mt-3">{{ assignSuccessMessage }}</div>
        <div *ngIf="assignErrorMessage" class="alert alert-danger mt-3">{{ assignErrorMessage }}</div>

        <div class="mt-3">
          <button class="btn btn-secondary" (click)="closeAssignPermissions()">Close</button>
        </div>
      </div>
    </div>


    <div *ngIf="activeTab === 'view'" class="card">
      <h2>View Permission Types</h2>
      <button (click)="refreshPermissionTypes()" class="btn-secondary">Refresh</button>
      <div class="permission-types-container">
        <div *ngFor="let permissionType of permissionTypes" class="permission-type-card">
          <h3>{{permissionType.name}}</h3>
          <p>{{permissionType.description || 'No description'}}</p>
          <p><strong>Company:</strong> {{permissionType.companyName}}</p>
          <div class="allowed-actions">
            <h4>Allowed Actions:</h4>
            <ul>
              <li *ngFor="let action of permissionType.permissionTypeActions">
                {{action.allowedAction}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>






</div>
