<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Main Moduly Dashboard</h1>
    <p>General data of your companies:</p>
  </header>

  <section class="dashboard-summary">
    <div class="summary-card">
      <h2>Revenue</h2>
      <p>{{ companyData.createdCompanies }}</p>
    </div>
    <div class="summary-card">
      <h2>Employees</h2>
      <p>{{ companyData.employees }}</p>
    </div>
  </section>

  <section class="dashboard-actions">
    <button (click)="navigateTo('/create-company')">Create New Company</button>
    <button (click)="navigateTo('/users')">Manage Users</button>
    <button (click)="navigateTo('/permissions')">Manage Permissions</button>
  </section>
  <section class="dashboard-companies">

  </section>
</div>

